{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{% if object %}Редактировать{% else %}Создать{% endif %} версию</h1>

    {% if user == object.product.owner or perms.catalog.change_version %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    {% else %}
    <p class="alert alert-danger">У вас нет прав для создания или редактирования версии этого продукта.</p>
    {% endif %}
</div>
{% endblock %}
